# Byte-compiled files
__pycache__/
*.pyc
*.npz
.ipynb_checkpoints/

# ignore some outputs tests
/truncated_tauK18/
/truncated_tauK18_weightes/

# dirs from develop
hierarchical_chain_growth.egg-info/
dist/
build/
